@page "/patient"
@using MedUnify.WebUI.Pages.Components
<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/">Create Patient</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <PatientContainer Patients="PatientList"></PatientContainer>
    </div>
</div>
<div class="row">
    <div class="col">
        @*Place for pagination*@
    </div>
</div>